body {
    background: #edeaf1;
    font-family: "IBM Plex Serif", serif;
  }
  
  .weather-app {
    background: #fff;
    border-radius: 10px;
    max-width: 650px;
    margin: 60px auto;
    padding: 30px;
  }
  
  header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }
  
  .search-input,
  .search-button {
    border: none;
    border-radius: 6px;
    padding: 20px;
    font-size: 16px;
  }
  .search-input {
    background: #e8d3e245;
    color: rgba(39, 33, 66, 0.4);
    width: 77%;
    border-radius: 6px;
  }
  .search-button {
    margin-left: 5px;
    background: rgb(120, 23, 105);
    color: #fff;
    line-height: 1;
    border-radius: 5px;
  }
  
  main {
    padding: 20px 0;
  }
  h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
  }
  
  .weather-app-details {
    line-height: 24px;
    color: rgba(39, 33, 66, 0.4);
    font-weight: 400;
    font-size: 16px;
  }
  .weather-app-details  strong {
    color: rgb(239, 7, 204);
  }
  .current-weather-data {
    display: flex;
    justify-content: space-between;
  }
  
  .weather-app-temperature-container {
    font-size: 48px;
    display: flex;
  }
  .weather-app-icon {
    position: relative;
    font-size: 40px;
    
  }
  
  .weather-app-temperature {
    font-size: 80px;
    font-weight: bold;
    text-emphasis-position:unset;

  }

  .weather-app-unit {
    font-size: 28px;
    position: relative;
    
    
  }
  
  footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
    color: rgba(82, 82, 83, 0.4);
    font-size: 15px;
  }
  